//@import "settings";
//@import "foundation";
@import "compass/css3";

$primary-dark: #00796B;
$primary: #009688;
$primary-light: #B2DFDB;
$accent: #448AFF;

$bg: #222;

$pink: #E91E63;

$text: #212121;
$secondary-text: #727272;
$divider: #e0e0e0;
$icon: white;

$link: #3079ed;

//$accent: #24C1F7;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */   
}

html,body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden !important;
   
}

core-scaffold::shadow #headerPanel {
    background-color: #eee !important;   
}

.dimmer {
    background-color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;    
}

.main-content {
    background-color: #eee;
}   

.middle-container {
    margin-top: 25px;
    width: 600px !important;
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

html /deep/ .warning {
    color: #b7be0a;       
}

html /deep/ .success {
    color: green;
}

html /deep/ .error {
    color: red;
}

html /deep/ .bold {
    font-weight: 600;   
}


//********* HEADER ***************
core-scaffold::shadow core-toolbar {
    background-color: #2196F3 !important;
}

.header {
    width: 100%;
    text-align: center;
    line-height: 4.8;
    .right {
        float:right;
        line-height: 4.5;
    }  
}


//********* MAP ***************
google-map {
    height: 100%;
}



#location {
    background-color: $icon;
    color: $text;
    position: absolute;
    bottom: 20px;
    right: 20px;

    transition: 300ms ease;

    &.active {
        color: $link !important;
    }   
}




.pickup {
    width: 300px;
    max-width: 80%;
    border: 1px solid scale-color($secondary-text, $lightness: 65%);
    background-color: white;
    margin-top: 15px;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: $text;

    
    h4 {
        font-size: 0.7rem;
        text-transform: uppercase;
        color: $primary;
        margin-top: 0;
        margin-bottom: 5px;
    }
    
    paper-button {
        position: absolute;
        bottom: 1px;
        right: 5px;
        color: $link;
    }   
    
}


#middle-marker {
    position: absolute;
    top:50%; left:0; right:0;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 32px;
    
    core-icon {
        position: relative;
        top: -35px;
        left: 3px;
        font-size: 1.2rem;
    }
}   


.right {
    text-align: right;   
}


//****** CHURCH FINDER ********

 h1 {
    margin-top: 5px;   
    color: $primary;
    text-transform: uppercase;
    text-align: center; 
    font-size: 1.3rem;
} 


 h3 {
    margin-top: 5px;   
    color: $primary;
    text-transform: uppercase;
    text-align: center; 
    font-size: 0.95rem;
} 

h4 {
    margin-top: 5px;   
    color: $primary;
    text-transform: uppercase;
    font-size: 0.85rem;
    
    &.subtitle {
        text-align: left;
        color: $secondary-text;
        text-transform: none;
    }
}

.card {
    background: white;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 2px;
    
    position: fixed !important;
    height:auto !important;
    left: 300px !important; 
    
    top:100%;
    
    right:0 !important;
    margin-left: auto;
    margin-right: auto;
    
    width: 600px !important;
    max-width: 100% !important;
    
    .caret {
        content: "-";
        position: absolute;
        left: 48%;
        top: 0;
        color: $secondary-text;
    }
    
   
    
    paper-button {
        background: #43A047;
        color: #fff;
        font-size: 0.8rem;
        padding-left: 8px;
        padding-right: 3px;
    }
    
    paper-input {        

        &::shadow paper-input-decorator {
            padding-top: 0 !important;  

            input {
                margin-top: 0 !important;   
            }
        }  
    }

}

.nearby {
    border: 1px $divider solid;

    .head {
        background-color: $accent;
        color: white;
        font-weight: 600;
        text-transform: capitalize;
        padding: 5px 15px 5px 15px;
        line-height: 2.5;

        core-icon-button {
            float:right;
            line-height: 1;
        }   

        #search {
            display:none; 
            width: 100%;  
            margin-left: 0 !important;
            margin-right: 0 !important;
            color: white !important;

            [focused] /deep/ .floated-label .label-text {
                color: $pink;
            }

            /deep/ .focused-underline {
                background-color: $pink;
            }

            /deep/ ::-webkit-input-placeholder {
                color: scale-color($accent, $lightness: 80%);
            }

            /deep/ ::-moz-placeholder {
                color: scale-color($accent, $lightness: 80%);
            }

            /deep/ :-ms-input-placeholder {
                color: scale-color($accent, $lightness: 80%);
            }
        }
    }
}

html /deep/ #scroller {
    padding: 0 !important;   
}


@media(max-width: 900px) {
    .card {
        left: 0 !important;
    }
    
    #location { 
        bottom: 65px;   
    }
}

.top-max {
    top: 100% !important;   
}





// ******** DRIVER *********
#fab-plus {
    background-color: $primary;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.input-container {
    background-color: white;
    padding: 20px;
    border: 1px $divider solid;
    text-align: center;
    
    paper-input, paper-input-decorator {
        width: 80%;  
        margin-bottom: 15px;
        margin-left:auto;
        margin-right:auto;
    } 
   
    paper-button {
        margin-top: 15px;
        &.primary {
            background-color: $primary;
            color: white;
        }
    }
}



.time-date-picker {
    width: 40%;
    margin-right: 3%;
    margin-left: 3%;        
    display:inline-block;
}   


.text-right {
    text-align: right;   
}

#login {
     background: {
      image: image-url("bgimage-w1920.jpg");
      repeat: no-repeat;
      position: center center;
    };
    @include background-size(cover);
    
//    background-color: $primary;
    
    .container {
        img {
            width: 350px;
            margin-bottom: 20px;
        }
        max-width: 95%;
        width: 600px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    
        paper-button {
            position: absolute;
            right: 35px;
            bottom: 30px
        }   
        
    }
}


html /deep/ location-list-item {
    cursor: pointer;
    /deep/ .contact-item {
        transition: 300ms background-color ease;
    }
    &.active {
        /deep/ .contact-item {
//            background-color: scale-color($primary, $lightness: 30%);
            background-color: $primary-light;
        }
    }
}

.spinner {
    text-align: center;
    width: 100%;
}