<!doctype html>
<html>
    <head>
        <title>PrayToday</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <script src="components/webcomponentsjs/webcomponents.js"></script>
        <link rel="import" href="components/font-roboto/roboto.html">
        
        <script
                src="components/webcomponentsjs/webcomponents.js">
        </script>
        
        <link rel="import"
              href="components/core-header-panel/core-header-panel.html">
        
        <link rel="import"
              href="components/core-toolbar/core-toolbar.html">
     
  
        <link rel="import"
              href="components/google-map/google-map.html">
        
        <link rel="import"
              href="components/core-scaffold/core-scaffold.html">
        
        <link rel="import"
              href="components/paper-item/paper-item.html">
    
        <link rel="import"
              href="components/core-icon-button/core-icon-button.html">
        
        
        <link rel="import"
              href="components/paper-button/paper-button.html">
        
        <link rel="import"
              href="components/paper-time-picker/paper-time-picker.html">
        
        <link rel="import"
              href="components/paper-date-picker/paper-date-picker-dialog.html"> 
        
        <link rel="import"
              href="components/paper-input/paper-input.html">     
        
        <link rel="import"
              href="components/core-input/core-input.html">      
        
        <link rel="import"
              href="components/paper-input/paper-input-decorator.html"> 
        
      
        <link rel="import"
              href="custom-components/my-menu/my-menu-driver.html">

        <link rel="import"
              href="custom-components/location-list/location-list.html">
        
        <link rel="import"
              href="custom-components/my-menu/top-logout.html">
        
        <link rel="stylesheet"
              href="stylesheets/app.css">
                                 
        <body unresolved>

        <core-scaffold drawerWidth="300px" responsiveWidth="900px">
            <core-header-panel navigation flex mode="seamed">
                <my-menu-driver name="Allyson Taylor" home="active" email="allysontaylor@gmail.com" image="images/allyson.jpg" bg="images/user-bg-dark.png"></my-menu-driver>
            </core-header-panel>
            
            <div tool class="header">
                <div class="right">
                    <top-logout></top-logout>
                </div>
            </div>
            
            <div class="main-content" fit>
                <div class="input-container middle-container">
                    <h1>New Ride</h1>
                    
                    <form>
                        <h4 class="subtitle">Destination:</h4>
                        <div class="nearby">
                            <div class="head">
                                Nearby Churches
                                <core-icon-button icon="search" id="search-button"></core-icon-button>
                                <paper-input label="Search..." id="search"></paper-input>                        
                            </div>
                            <location-list></location-list>
                        </div>
                        <paper-input-decorator label="Maximum Passengers" floatinglabel="Maximum Passengers">
                            <input is="core-input" type="number" required>
                        </paper-input-decorator> 
                            
                        <template is="auto-binding" id="date">
                            <div class="time-date-picker">
                                <paper-input label="Date" floatinglabel="Date" on-tap="{{showDialog}}" value="{{date}}" id="date-input"></paper-input> 
                                <paper-date-picker-dialog id="datepicker" infiniteScrolling=false min="{{min}}"></paper-date-picker-dialog>

                            </div>
                        </template>

                          <template is="auto-binding" class="time-date-picker" id="time">
                            <div class="time-date-picker">
                              <paper-input label="Time" floatinglabel="Time" on-tap="{{showDialog}}" value="{{time}}" id="time-input"></paper-input> 
                              <paper-action-dialog id="timedialog" backdrop sizingTarget="{{$.picker}}">
                                <paper-time-picker hour="{{hour}}" minute="{{minute}}" id="picker"></paper-time-picker>
                                <paper-button affirmative>CANCEL</paper-button>
                                <paper-button affirmative on-tap="{{timeSelected}}">OK</paper-button>
                              </paper-action-dialog>
                            </div>
                          </template>  

                        <div class="text-right">
                            <paper-button>Cancel</paper-button>
                            <paper-button class="primary" onclick="store()">OK</paper-button>
                        </div>
                    </form>
                </div>
            </div>   
        </core-scaffold>
            
        <google-map id="mainmap" style="height:0px"></google-map>
            
        <script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.2.5.min.js"></script>
            
        <script
                src="components/jquery/dist/jquery.min.js">
        </script>
        <script
                src="js/share.js">
        </script>
        <script
                src="js/newRide.js">
        </script> 
            
        <script
                src="js/bottom-drawer.js">
        </script>
        <script
                src="js/date-time.js">
        </script>
            
            
    </body>
        