<!doctype html>
<html>
    <head>
        <title>PrayToday</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <script src="components/webcomponentsjs/webcomponents.js"></script>
        <link rel="import" href="components/font-roboto/roboto.html">
        
        <script
                src="components/webcomponentsjs/webcomponents.js">
        </script>
        
        <link rel="import"
              href="components/core-toolbar/core-toolbar.html">
      
        <link rel="import"
              href="components/google-apis/google-maps-api.html">
        
        <link rel="import"
              href="components/google-map/google-map.html">
        
        <link rel="import"
              href="components/core-scaffold/core-scaffold.html">
        
        
        <link rel="import"
              href="components/paper-dialog/paper-action-dialog.html"> 
        
        <link rel="import"
              href="components/paper-button/paper-button.html">
        
        <link rel="import"
              href="components/paper-time-picker/paper-time-picker.html">
        
        <link rel="import"
              href="components/paper-date-picker/paper-date-picker-dialog.html"> 
        
        <link rel="import"
              href="components/paper-input/paper-input.html"> 
        
        <link rel="import"
              href="components/paper-shadow/paper-shadow.html"> 
        
        <link rel="import"
              href="components/bottom-drawer/lib/elements.html">         
        
        <link rel="import"
              href="components/paper-fab/paper-fab.html">

        
        <link rel="import"
              href="custom-components/location-list/location-list.html">
        
         <link rel="import"
              href="custom-components/my-menu/my-menu.html"> 
        
        <link rel="import"
              href="custom-components/my-menu/top-logout.html">
        
        
        
        <link rel="stylesheet"
              href="stylesheets/app.css">
                                 
        <body unresolved>

        <core-scaffold drawerWidth="300px" responsiveWidth="900px">
            <core-header-panel navigation flex mode="seamed">
                <my-menu name="Liam Pryce" email="liampryce@gmail.com" home="active" image="images/oldm8.jpg" bg="images/spacebg.png"></my-menu>
            </core-header-panel>
            <div tool class="header">
                Pray Today
                <div class="right">
                    <top-logout></top-logout>
                </div>
            </div>
            
            <div fit>
                <google-map disableDefaultUI fit id="mainmap">
                    <google-map-marker latitude="0" longitude="0" icon="images/location.png"></google-map-marker>
                </google-map>
                
                <div id="middle-marker">
                    <core-icon icon="maps:place" shadow></core-icon>
                </div>
                <div class="pickup">
                    <h4>Set Pickup Location</h4>
                    <span id="coords">Current Location</span><br>
                    <paper-button id="toggle" class="colored custom" role="button" tabindex="0">
                        ok
                        <core-icon icon="chevron-right" aria-label="check" role="img"></core-icon>
                    </paper-button>
                </div>            
                <paper-fab id="location" icon="maps:my-location"></paper-fab>
                <div id="dimmer"></div>
            </div>
            
            <paper-shadow z="4" is="auto-binding" id="bottom-drawer" class="card">
                <core-icon icon="arrow-drop-up" class="caret"></core-icon>
                <h3>Find a church</h3>
                <div class="nearby">
                    <div class="head">
                        Nearby Churches
                        <core-icon-button icon="search" id="search-button"></core-icon-button>
                        <paper-input label="Search..." id="search" ></paper-input>                        
                    </div>
                    <location-list></location-list>
                </div>
                <br>
                <h4>Arrive By:</h4>
                <template is="auto-binding" id="date">
                    <div class="time-date-picker">
                        <paper-input label="Date" floatinglabel="Date" on-tap="{{showDialog}}" value="{{date}}" id="date-input" disabled></paper-input> 
                        <paper-date-picker-dialog id="datepicker" infiniteScrolling=false min="{{min}}"></paper-date-picker-dialog>
                    </div>
                </template>
                
                  <template is="auto-binding" class="time-date-picker" id="time">
                    <div class="time-date-picker">
                    <paper-input label="Time" floatinglabel="Time" on-tap="{{showDialog}}" value="{{time}}" id="time-input"  disabled></paper-input> 
                      <paper-action-dialog id="timedialog" backdrop sizingTarget="{{$.picker}}">
                        <paper-time-picker hour="{{hour}}" minute="{{minute}}" id="picker"></paper-time-picker>
                        <paper-button affirmative>CANCEL</paper-button>
                        <paper-button affirmative on-tap="{{timeSelected}}">OK</paper-button>
                      </paper-action-dialog>
                    </div>
                  </template>
                                
                <div class="right">
                    <paper-button onclick="request()" raised>
                        Request Ride 
                        <core-icon icon="chevron-right"></core-icon>
                    </paper-button>
                </div>               

            </paper-shadow>                        
        </core-scaffold>
            
        <google-map id="mapsapi" style="height: 0px !important;">
        </google-map>
            
        <script
                src="components/jquery/dist/jquery.min.js">
        </script>
        
        <script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.2.5.min.js"></script>
            
        <script src="components/jquery-ui/jquery-ui.min.js"></script>
        <script src="components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
        <script
                src="js/share.js">
        </script> 
        <script
                src="js/app.js">
        </script>
        <script
                src="js/date-time.js">
        </script>
        <script
                src="js/bottom-drawer.js">
        </script>
    </body>
        