<link rel="import" href="map-item-request.html">


<polymer-element name="map-item-list-request">
    <template> 
        <template repeat="{{ride, i in rides}}">

        <map-item-request user="/images/oldm8.jpg">
            <div class="content" flex>
                <name>{{ride.name}}</name>
                <address>Pickup: {{ride.pickup}}</address>
                <datetime>{{ride.datetime}}</datetime>
            </div>
            <google-map disableDefaultUI fit id="{{ride.map}}"> 
                <google-map-marker latitude="0" longitude="0" icon="images/location.png"></google-map-marker>
            </google-map>
            <more>
                <x-trigger icon="more-vert" class="more">
                    <paper-dropdown halign="right" class="no-padding">
                        <div class="menu">
                            <paper-item onclick="accept('{{ride.id}}', '{{ride.routeId}}')" class="green">Accept</paper-item>
                            <paper-item class="red">Deny</paper-item>
                        </div>
                    </paper-dropdown>
                </x-trigger>
            </more>
        </map-item-request>
        </template>
    </template>
    <script>
        Polymer({});
    </script>
</polymer-element>