<link rel="import" href="../../components/core-item/core-item.html">
<link rel="import" href="../../components/core-icons/maps-icons.html">
<link rel="import" href="map-item-request.html">


<link href="../../components/core-collapse/core-collapse.html" rel="import">
<link href="../../components/core-icons/core-icons.html" rel="import">
<link href="../../components/paper-icon-button/paper-icon-button.html" rel="import">
<link href="../../components/paper-item/paper-item.html" rel="import">
<link href="../../components/paper-dropdown/paper-dropdown.html" rel="import">



<polymer-element name="map-item-route">
    <template>
        <link rel="stylesheet" href="map-item.css">
        <core-item  icon="maps:place" class="map-item">
            <div class="content">
                <content select="name"></content>
                <content select="datetime"></content>
<!--                <content select="passengers"></content>-->
                <content></content>
                <content select="google-map"></content>
            </div>


            <content select="more"></content>
             
        </core-item>
                      
    </template>
    <script>
        Polymer({});    
    </script>
</polymer-element>