<link rel="import" href="../../components/core-item/core-item.html">
<link rel="import" href="../../components/core-icons/maps-icons.html">


<polymer-element name="map-item" >
    <template>
        <link rel="stylesheet" href="map-item.css">
        <core-item icon="maps:place" class="map-item">
            <div class="content">
                <content select="name"></content>
                <content select="address"></content>
                <content select="datetime"></content>
                <content select="current-status"></content>
                <content select="google-map"></content>
                <content></content>
            </div>
            <content select="more"></content>
        </core-item>            
    </template>
    <script>
        Polymer({});    
    </script>
</polymer-element>