:host {
    display: block;
    position: relative;
    background-color: white;
    width: 100%;
/*    font-size: 1.2rem;*/
    font-weight: 300;
}

.map-item {
    height: 80px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 190px;
}


polyfill-next-selector { content: '.map-item google-map'; }
.map-item ::content google-map {
    height: 160px;
    background-color: #535353;
    top: 80px;
}


polyfill-next-selector { content: '.map-item name'; }
.map-item ::content name {
    font-size: 1.125em;
    display:block;
}

polyfill-next-selector { content: '.map-item address'; }
.map-item ::content address {
    font-size: 0.75em;
}       

polyfill-next-selector { content: '.map-item more'; } 
.map-item ::content more .more {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 20px;
    font-weight: 600;
    font-size: 0.65rem;
    text-align: right;
    text-transform: uppercase;
    line-height: 2.5;
    color: #727272;
    
    position: absolute;
    right: 15px;
    top: 20%;  
    
    
}

.map-item ::content more .green {
    color: #13860a;   
}

.map-item ::content more .red {
    color: #950707;   
}

polyfill-next-selector { content: '.map-item current-status'; } 
.map-item ::content current-status {
    font-size: 0.85rem;
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-transform: capitalize;
}

polyfill-next-selector { content: '.map-item datetime'; } 
.map-item ::content datetime {
    font-size: 0.7rem;
    display:block;
}

.map-item .user {
    height: 50px;
    width: 50px;
    border: 1px;
    border-radius: 100px;
    margin-left: 12px;
    margin-right: 20px;
    display:inline-block;
}   


