<link rel="import" href="../../components/core-item/core-item.html">
<link rel="import" href="../../components/core-icons/maps-icons.html">


<link href="../../components/core-collapse/core-collapse.html" rel="import">
<link href="../../components/core-icons/core-icons.html" rel="import">
<link href="../../components/paper-icon-button/paper-icon-button.html" rel="import">
<link href="../../components/paper-item/paper-item.html" rel="import">
<link href="../../components/paper-dropdown/paper-dropdown.html" rel="import">



<polymer-element name="x-trigger" extends="paper-icon-button" relative on-tap="{{toggle}}" noink>
  <template>
    <shadow></shadow>
    <content></content>
  </template>
    <script>
    Polymer({
      toggle: function() {
        if (!this.dropdown) {
          this.dropdown = this.querySelector('paper-dropdown');
        }
        this.dropdown && this.dropdown.toggle();
      }
    });
    </script>
</polymer-element>


<polymer-element name="map-item-request" attributes="user">
    <template>
        <link rel="stylesheet" href="map-item.css">
        <core-item class="map-item">
            <img if="{{user}}" src="{{user}}" class="user" />
            <div class="content">
                <content select="name"></content>
                <content select="address"></content>
                <content select="datetime"></content>
                <content></content>
                <content select="google-map"></content>
            </div>
            <content select="more"></content>
        </core-item>        
    </template>
    <script>
        Polymer({
         
        });    
    </script>
</polymer-element>