<link rel="import" href="map-item-route.html">
<link rel="import" href="map-item-request.html">

<polymer-element name="map-item-list-route">
    <template> 
        <template repeat="{{ride, i in rides}}">
        <map-item-route>
            <div class="content" flex>
                <name>{{ride.name}}</name>
                <datetime>{{ride.datetime}}</datetime>
                <passengers>Passengers: <b>{{ride.passengers}}</b></passengers>
            </div>
            <google-map disableDefaultUI fit id="{{ride.map}}"> </google-map>
            <more>
                <x-trigger icon="more-vert" class="more">
                    <paper-dropdown halign="right" class="no-padding">
                        <div class="menu">
                            <a href="ride.html?id={{ride.id}}"><paper-item class="green">Start Ride</paper-item></a>
                            <paper-item onclick="cancel('{{ride.id}}');" class="red">Cancel Ride</paper-item>
                        </div>
                    </paper-dropdown>
                </x-trigger>
            </more>     
        </map-item-route>
        </template>
    </template>
    <script>
        Polymer({});
    </script>
</polymer-element>