<link rel="import" href="map-item.html">
<link rel="import" href="map-item-request.html">
    
<polymer-element name="map-item-list">
<template> 
     <template repeat="{{ride, i in rides}}">
         <map-item>
             <div class="content" flex>
                    <name>{{ride.name}}</name>
                    <address>Pickup: {{ride.pickup}}</address>
                    <datetime>{{ride.datetime}}</datetime>
                    <current-status class="bold {{ride.class}}">{{ride.status}}</current-status>
                </div>
                <google-map disableDefaultUI fit id="{{ride.map}}">
                </google-map>
             
                 <more>
                     <x-trigger icon="more-vert" class="more">
                         <paper-dropdown halign="right" class="no-padding">
                             <div class="menu">
                                 <a href="view.html?id={{ride.id}}"><paper-item class="green">View Journey</paper-item></a>
                                 <paper-item class="red" onclick="cancel('{{ride.id}}', '{{ride.status}}');">Cancel Request</paper-item>
                             </div>
                         </paper-dropdown>
                     </x-trigger>
                 </more>
             
          </map-item>
    </template>
</template>
<script>
    Polymer({});
</script>
</polymer-element>
