
<link rel="import"
      href="../../components/core-icons/maps-icons.html">

<link rel="import"
      href="../../components/core-icons/core-icons.html">

<link rel="import"
      href="../../components/core-icons/communication-icons.html">

<link rel="import"
      href="../../components/core-icons/social-icons.html">

<link rel="import"
      href="../../components/core-item/core-item.html">

<link rel="import"
      href="../../components/paper-item/paper-item.html"> 






<polymer-element name="my-menu-driver" attributes="name bg email image home rides communicate settings about">
    <template>           
        <style>
        /* line 46, ../scss/app.scss */
core-menu {
  z-index: 10;
  background-color: white;
}
/* line 50, ../scss/app.scss */
core-menu hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}
/* line 56, ../scss/app.scss */
.menu-head {
  background-color: #009688;
  overflow: hidden;
  margin-bottom: 10px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 69, ../scss/app.scss */
.menu-head .user {
  padding: 15px;
  height: 130px;
}
/* line 73, ../scss/app.scss */
.menu-head .user img {
  border-radius: 100px;
  width: 55px;
  height: 55px;
}
/* line 78, ../scss/app.scss */
.menu-head .user p {
  font-size: 0.8rem;
  color: #d3d3d3;
}
/* line 82, ../scss/app.scss */
.menu-head .user p b {
  color: white;
  font-weight: 600;
}
/* line 90, ../scss/app.scss */
core-menu paper-item {
  color: #494949;
  font-size: 0.85rem;
  font-weight: 600;
}
/* line 95, ../scss/app.scss */
core-menu paper-item core-icon {
  margin-right: 32px;
  color: #727272;
}
/* line 100, ../scss/app.scss */
core-menu paper-item.active {
  color: #3079ed !important;
  background-color: #eee;
}
        </style>
        
                <div class="menu-head" style=" background-image: url('{{bg}}');">
                    <div class="user">
                        <img src="{{image}}"><br>
                        <p>
                            <b>{{name}}</b><br>
                            {{email}}                     
                        </p>
                    </div>
                </div>
                <core-menu theme="core-light-theme">
                    <a href="../../driver.html">
                        <paper-item class="{{home}}"> 
                            <core-icon icon="home"></core-icon>
                            Home
                        </paper-item> 
                    </a>
                    <a href="../../requestAccept.html">
                        <paper-item class="{{rides}}"> 
                            <core-icon icon="maps:directions-car"></core-icon>
                            Ride Requests
                        </paper-item>
                    </a>
                    
                    <paper-item class="{{communicate}}"> 
                        <core-icon icon="communication:message"></core-icon>
                        Communicate
                    </paper-item>
                    <hr>
                    <paper-item class="{{settings}}"> 
                        Settings
                    </paper-item>
                    <paper-item class="{{about}}"> 
                        About
                    </paper-item>
                </core-menu>
     </template>
<script>
    Polymer({});    
</script> 
</polymer-element>
        