<link rel="import"
      href="../../components/paper-dropdown/paper-dropdown.html">

<link rel="import"
      href="../map-item/map-item-request.html">


<polymer-element name="top-logout">
    <template>   
        <style>
            .more {
                display: inline-block;
                vertical-align: middle;
                height: 32px;
                width: 20px;
                font-weight: 600;
                font-size: 0.65rem;
                text-align: right;
                text-transform: uppercase;
                line-height: 2.5;
                color: #fff;
                margin-top: 10px;
            }
        </style>
        <x-trigger icon="more-vert" class="more">
            <paper-dropdown halign="right" class="no-padding">
                <div class="menu">
                    <a href="../../index.html"><paper-item>Logout</paper-item></a>
                </div>
            </paper-dropdown>
        </x-trigger>
    </template>
    <script>
        Polymer({});    
    </script> 
</polymer-element> 