
<link rel="import" href="location-list-item.html">

<polymer-element name="location-list">
    <template>
        <template repeat="{{location, i in locations}}">
            <location-list-item>
                <div class="content" flex>
                    <name>{{location.name}}</name>
                    <address>{{location.address}}</address>
                </div>
                <distance>{{location.distance}}</distance>
            </location-list-item>
        </template>
    </template>
    <script>
        Polymer({});
    </script>
</polymer-element>
