:host {
    display: block;
    position: relative;
    background-color: white;
    width: 100%;
/*    font-size: 1.2rem;*/
    font-weight: 300;
}

.contact-item {
    min-height: 50px;
    background-color: #eee;
    border: 1px solid #ddd;
    position: relative;
}


.content {
    position: relative;
    width: 90%;
    display:block;
}


polyfill-next-selector { content: '.contact-item name'; }
.contact-item ::content name {
    font-size: 1.125em;
    word-wrap: break-word;
    max-width: 80%;
    min-width: 75%;
    display: block;
    white-space: normal;
    margin-bottom: 5px;
    margin-right: 5px;
}

@media(max-width: 900px) {
    .contact-item ::content name {
        font-size: 1em;
    }  
}

polyfill-next-selector { content: '.contact-item address'; }
.contact-item ::content address {
    font-size: 0.75em;
    text-align: left;
}       

polyfill-next-selector { content: '.contact-item distance'; }
.contact-item ::content distance {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 75px;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: right;
    text-transform: uppercase;
    line-height: 2.5;
    color: #727272;
    
    position: absolute;
    right: 15px;
    top: 20%;  
    
}

