<link rel="import" href="/components/core-item/core-item.html">
<link rel="import" href="/components/core-icons/maps-icons.html">

<polymer-element name="location-list-item">
    <template>
        <link rel="stylesheet" href="location-list-item.css">
        
        <core-item icon="maps:place" class="contact-item" >
            <div class="content">
                <content select="name"></content>
                <content select="address"></content>
                <content></content>
            </div>
            <div class="distance">
                <content select="distance"></content>
            </div>
        </core-item>
    </template>
    <script>
        Polymer({});    
    </script>
    
</polymer-element>